components/**/*.js
components/**/*.jsx
!components/*/__test__/**/*.js
components/*/__test__/*
!.*.js
~*
typings
es/**/*
lib/**/*
node_modules
dist
storybook-static
coverage
**/*.d.ts

components/assets

coverage
snapshots
.prettierignore
.gitignore
.editorconfig
**/*.yml
yarn-error.log
yarn.lock
.DS_Store
*.sh
*.snap
.storybook

