src/assets
**/*.md
**/*.svg
**/*.html
**/*.ejs
**/*.png
**/*.eot
**/*.woff
**/*.ttf
**/*.gif
**/*.jpg
**/*.jpeg
package.json

/node_modules/**
dist/
coverage/
lib/
es/
storybook-static/
snapshots/
.prettierignore
.gitignore
.editorconfig
**/*.yml
yarn-error.log
yarn.lock
.DS_Store
*.sh
*.snap
.storybook
